.accordions-block-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 200px 60px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 160px 32px 200px;
  }

  @media screen and (max-width: 767px) {
    padding: 130px 15px;
  }
}

.accordions-block-title {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  color: rgb(17, 17, 17);

  @media screen and (max-width: 1024px) {
    padding-bottom: 160px;
    font-size: 50px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 130px;
    font-size: 39px;
  }
}

.accordions-block-component {
    > div {
        border-bottom: 1px solid #111 !important;
        border-radius: 0 !important;

        &:first-child {
            .ant-collapse-header {
                padding-top: 0 !important;
            }
        }
    }

    .ant-collapse-header {
        padding: 24px 0 !important;
    }

    .ant-collapse-content-box {
        padding: 0 0 24px !important;
    }

    .ant-collapse-expand-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px !important;
        height: 42px !important;
        transition: transform 0.3s ease-in-out;
        padding: 0 !important;

        @media screen and (max-width: 1024px) {
          width: 24px !important;
          height: 24px !important;
        }
    }

    .ant-collapse-item-active .ant-collapse-expand-icon {
      transform: rotate(45deg);
      transform-origin: center;
    }
}

.accordions-block-label {
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
    white-space: pre-wrap;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }
}

.accordions-block-list {
  width: 100%;
}

.accordions-block-children {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #2a2a2a;
  white-space: pre-wrap;

  @media screen and (max-width: 1280px) {
    font-size: 20px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    white-space: normal;
  }
}
